/build/
nbproject/private/private.properties
nbproject/private/private.xml
/NetBeansProjects/EjemploInterfazGrafica/build/
/NetBeansProjects/EjemploInterfazGrafica/nbproject/private/
/NetBeansProjects/LayoutInterfazGrafica/build/
/NetBeansProjects/LayoutInterfazGrafica/nbproject/private/
nbproject/private/private.properties
nbproject/private/private.xml
/tryingWindows/build/
/tryingWindows/nbproject/private/
nbproject/private/private.properties
